// lessc --strict-math=on

div#Img
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 280px;
    height: 280px;
    max-height: 25vw;
    max-width: 25vw;
    > div
    {
        width: 8px;
        height: 8px;
        border: solid 1px rgba(0,0,255,0.4);
        margin:0;

    }
}

table#Outputs
{
    max-width: 25vw;
    > tbody>tr>td:first-child>div
    {
        width: 16px;
        height: 16px;
        border: solid 1px rgba(0,0,255,0.4);
        margin:0;
        border-radius: 100%;

    }
}
div.ProgressOuter{
    border: solid 1px rgba(0,0,0,0.2);
    box-shadow: 1px 2px 2px rgba(0,0,0,0.2) inset;
    height: 2em;
    line-height: 2em;
    text-align: center;
    position: relative;
    width: 300px;
    >div
    {
        background: linear-gradient(150deg, blue 0, darkblue 100% );
        box-shadow: 1px 2px 2px rgba(0,0,0,0.2) inset, 0.5px 1px 1px rgba(0,0,0,0.2) ;

        height: 100%;
        position: absolute;
        left: 0;
        top:0;
    }
    >span
    {
        width: 100%;
        text-align: center;
        line-height: 2em;
    }
}

div#Results
{
    position: absolute;
    right:0;
    top:0;
    width: 50vw;
    height: 50vw;
    background-color: #CCC;
    border: solid 1px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    >div
    {
        width: ~"calc(3.125% - 2px)";
        height: ~"calc(3.125% - 2px)";
        border: solid 1px white;
        font-size: 15px;
        color: white;
        overflow: hidden;
    }
}